## Create a rank 1 numpy array

In [1]:
import numpy as np

arr = np.array([2, 12, 565])

print(type(arr))

<class 'numpy.ndarray'>

**Tells the shape(dimension with number of elements in each dimension)**

In [4]:
print(arr.shape)

(3,)

**Mutability of nd arrays**

In [6]:
arr[1] = 1555
print(arr[1])

1555

## Create a rank 2 numpy array

In [14]:
import numpy as np

arr2 = np.array([[2, 12, 565, 4545], [89, 78, 5465, 4554]])
print(arr2.shape)

(2, 4)

**Aceesing elements**

In [15]:
arr2[0,0]

2

In [16]:
arr2[1,3]

4554

## Creating an array having the same value in each cell

In [17]:
arr3 = np.full((3,3), 15)

In [18]:
print(arr3)

[[15 15 15]
 [15 15 15]
 [15 15 15]]

**All ones**

In [20]:
arr4 = np.ones((5,5))
print(arr4)

[[ 1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.]]

**All diagonal elements one**

In [24]:
arr5 = np.eye(3,3)
print(arr5)

[[ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]]

## Creating random arrays

In [11]:
rand = np.random.random((3,3))
print(rand)

[[ 0.80031815  0.8623988   0.73894544]
 [ 0.30636549  0.71993101  0.84156695]
 [ 0.23633421  0.91464201  0.56505976]]

## Slicing nd arrays

In [28]:
ar = np.array([[45, 545, 78, 999], [405, 5405, 708, 999], [5, 545, 8, 99]])
sliced = ar[:2, 1:3]

print(sliced)
print(ar)

[[ 545   78]
 [5405  708]]
[[  45  545   78  999]
 [ 405 5405  708  999]
 [   5  545    8   99]]

**But the sliced array is not a new array nut rather a reference to the ar array**

In [29]:
sliced[1,0] = 1500 

print(sliced)
print(ar)

[[ 545   78]
 [1500  708]]
[[  45  545   78  999]
 [ 405 1500  708  999]
 [   5  545    8   99]]

**The corresponding element in ar also changes. To avoid this we can make a copy of the original array and then slice it out by:**

In [30]:
ar = np.array([[45, 545, 78, 999], [405, 5405, 708, 999], [5, 545, 8, 99]])
sliced = np.array(ar[:2, 1:3])
sliced[1,0] = 1500 

print(sliced)
print(ar)

[[ 545   78]
 [1500  708]]
[[  45  545   78  999]
 [ 405 5405  708  999]
 [   5  545    8   99]]

## Boolean Indexing

**Using an array of indicies to create an array of boolean indicies**

In [31]:
a = np.array([[11, 12, 13], [21, 22, 23], [31, 32, 33]])
a

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [32]:
# creating a boolen array
filter = (a>15)
filter

array([[False, False, False],
       [ True,  True,  True],
       [ True,  True,  True]], dtype=bool)

**Now we can pull out the values matching the condition >15 by using the values of the `filter` array and indicies in the original array**

In [33]:
print(a[filter])

[21 22 23 31 32 33]

## Data Types and Operations

In [7]:
import numpy as np

# typecasting values in an ndarray using explicit declaration of the type of array
d1 = np.array([11.5, 88.66], dtype=np.int64)
d2 = np.array([19, 18], dtype=np.float64)

print(d1, d1.dtype)
print()
print(d2, d2.dtype)

[11 88] int64

[ 19.  18.] float64

### Arithematic Operations
**Adding**

In [8]:
print(d1+d2)
print(np.add(d1, d2))

[  30.  106.]
[  30.  106.]

**Other operations**

In [9]:
print(np.subtract(d1, d2))
print()
print(np.multiply(d1, d2))
print()
print(np.divide(d1, d2))
print()
print(np.sqrt(d1))
print()
print(np.exp(d1))

[ -8.  70.]

[  209.  1584.]

[ 0.57894737  4.88888889]

[ 3.31662479  9.38083152]

[  5.98741417e+04   1.65163625e+38]

### More Operations

In [12]:
# random 2*4 matrix
arr = 10 + np.random.randn(2,5)
print(arr)

[[ 11.01410396  10.87852974   9.56085539   8.44325312   8.97229598]
 [ 11.65348828   9.78689151   9.81030263   9.67298521   9.85730206]]

In [16]:
# mean for the whole matrix
print(arr.mean())
print()

# mean for each row
print(arr.mean(axis=1))
print()

# mean for each column
print(arr.mean(axis=0))
print()

9.96500078753

[  9.77380764  10.15619394]

[ 11.33379612  10.33271062   9.68557901   9.05811916   9.41479902]

In [17]:
# sum all elements
print(arr.sum())

99.6500078753

### Median

In [19]:
# median for each row
print(np.median(arr, axis=1))

# median for each column
print(np.median(arr, axis=0))

[ 9.56085539  9.81030263]
[ 11.33379612  10.33271062   9.68557901   9.05811916   9.41479902]

## Sorting

In [21]:
unsorted = np.random.randn(10)
print(unsorted)

sorted = np.array(unsorted)
sorted.sort()

print(sorted)

[ 0.05913495 -0.1977948  -0.32337449 -0.47053862  1.35267288  0.49340187
  0.34466779 -0.68307758  0.21519334 -1.31739077]
[-1.31739077 -0.68307758 -0.47053862 -0.32337449 -0.1977948   0.05913495
  0.21519334  0.34466779  0.49340187  1.35267288]

In [23]:
# To find out unique values in an array
a = np.array([1, 2, 2, 4, 8, 8, 9, 10])
print(np.unique(a))

[ 1  2  4  8  9 10]

## Set Operations

In [29]:
s1 = np.array([1, 2, 6, 2, 4, 8, 99])
s2 = np.array([1, 2, 6, 4, 99, 101, 7, 77])

# union
print(np.union1d(s1, s2))

# intersection
print(np.intersect1d(s1, s2))

# elements in s1 not present in s2
print(np.setdiff1d(s1, s2))

# which elements in s1 present in s2
print(np.in1d(s1, s2))

[  1   2   4   6   7   8  77  99 101]
[ 1  2  4  6 99]
[8]
[ True  True  True  True  True False  True]

## Broadcasting

In [39]:
import numpy as np

start = np.zeros((4, 3))
print(start)
add_rows = np.array([1, 2, 9])
print()

s = start + add_rows
print(s)

add_cols = np.array([[1, 2, 9, 10]])
add_cols = add_cols.T
print()

p = start + add_cols
print(p)

[[ 0.  0.  0.]
 [ 0.  0.  0.]
 [ 0.  0.  0.]
 [ 0.  0.  0.]]

[[ 1.  2.  9.]
 [ 1.  2.  9.]
 [ 1.  2.  9.]
 [ 1.  2.  9.]]

[[  1.   1.   1.]
 [  2.   2.   2.]
 [  9.   9.   9.]
 [ 10.  10.  10.]]

In [40]:
# broadcasting in both directions
scalar = np.array([1])
print(start+scalar)

[[ 1.  1.  1.]
 [ 1.  1.  1.]
 [ 1.  1.  1.]
 [ 1.  1.  1.]]